In [63]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import numpy as np

connection = mysql.connector.connect(host='localhost',database='groceryproductrecommendersystem', user='root', password='')
cursor = connection.cursor()

In [64]:
sql_select_Query = "select grocerylist_products.grocerylist_id, grocerylist_products.product_id, grocerylist_products.quantity, grocerylists.user_id, grocerylists.user_pax, grocerylists.meal_num from grocerylist_products join grocerylists on grocerylist_products.grocerylist_id = grocerylists.id"
cursor.execute(sql_select_Query)
grocerylist_df = pd.DataFrame(cursor.fetchall(), columns = ['grocerylist_id', 'product_id', 'quantity', 'user_id', 'user_pax', 'meal_num'])
grocerylist_df

   grocerylist_id  product_id  quantity  user_id  user_pax  meal_num
0               1           1         2        5         5         2
1               1           2         3        5         5         2
2               3           1         2        4         2         1
3               2          10         2        1         2         2
4               2          11         1        1         2         2
5               2           1         1        1         2         2

In [65]:
# collaborative filtering - give suggestions based on other user selection
# parameter is the user_pax of the user and the product_id
def get_recommendations_quantity(user_pax, meal_num, product_id):
    recommend_df = grocerylist_df[(grocerylist_df.user_pax == user_pax)&(grocerylist_df.meal_num == meal_num)&(grocerylist_df.product_id == product_id)]
    if recommend_df.empty:
        return(0)
    else:    
        recommend_quantity = recommend_df['quantity'].value_counts().idxmax()
        return(recommend_quantity)

In [68]:
# get_recommendations_quantity(2,2,1)
print(get_recommendations_quantity(2,2,1))

1

In [69]:
recommend_df =grocerylist_df[(grocerylist_df.user_pax == 2)&(grocerylist_df.meal_num == 2)&(grocerylist_df.product_id == 1)]
recommend_df

   grocerylist_id  product_id  quantity  user_id  user_pax  meal_num
5               2           1         1        1         2         2

In [38]:
if recommend_df.empty:
    print('DataFrame is empty!')
else:
    print('Not empty')

Not empty

In [3]:
import mysql.connector
import pandas as pd

connection = mysql.connector.connect(host='localhost',database='groceryproductrecommendersystem', user='root', password='')
if connection.is_connected():
    cursor = connection.cursor()
    sql_select_Query = "select grocerylist_products.grocerylist_id, grocerylist_products.product_id, grocerylist_products.quantity, grocerylists.user_id, grocerylists.user_pax, grocerylists.meal_num from grocerylist_products join grocerylists on grocerylist_products.grocerylist_id = grocerylists.id"
    cursor.execute(sql_select_Query)
    grocerylist_df = pd.DataFrame(cursor.fetchall(), columns = ['grocerylist_id', 'product_id', 'quantity', 'user_id', 'user_pax', 'meal_num'])
    # collaborative filtering - give suggestions based on other user selection
    # parameter is the user_pax of the user and the product_id
    def get_recommendations_quantity(user_pax, meal_num, product_id):
        recommend_df = grocerylist_df[(grocerylist_df.user_pax == user_pax)&(grocerylist_df.meal_num == meal_num)&(grocerylist_df.product_id == product_id)]
        if recommend_df.empty:
            return(0)
        else:    
            recommend_quantity = recommend_df['quantity'].value_counts().idxmax()
        return(recommend_quantity)   
    output = get_recommendations_quantity(2,2,1)       
    print(output)
    cursor.close()
    connection.close()

1